# Environment
NODE_ENV=test

# Database
DB_USER=pincetest
DB_PASSWORD=pincetest
DB_HOST=localhost
DB_NAME=pincetest
DB_PORT=5432
DATABASE_URL=postgres://pincetest:pincetest@localhost:5432/pincetest

# JWT
JWT_SECRET=abcde123456

# Port (optionnel pour les tests)
PORT=3030